@model TrainingCamp.Web.Models.CampMember

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CampMember</legend>

        @Html.HiddenFor(model => model.CampMemberId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ClubNr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClubNr)
            @Html.ValidationMessageFor(model => model.ClubNr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClubName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClubName)
            @Html.ValidationMessageFor(model => model.ClubName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Paid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Paid)
            @Html.ValidationMessageFor(model => model.Paid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaidAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaidAmount)
            @Html.ValidationMessageFor(model => model.PaidAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaidCurrency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaidCurrency)
            @Html.ValidationMessageFor(model => model.PaidCurrency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaidDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaidDateTime)
            @Html.ValidationMessageFor(model => model.PaidDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
