<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Shorinji Kempo Int Training Camp 2014</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="author" content="Patrik Lindstrom www.lcube.se">
    <meta name="description" content="Website to promote Shorinji Kempo International Training Camp 2014 in Stockholm">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS
            ================================================== -->
    <!-- web font  link -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>


    <!-- General superweb external libs -->
    @Styles.Render("~/extlibs/superweb/css")
    <!-- Specific -->
    @Styles.Render("~/Content/css")
    <link type="text/css" id="colors" rel="stylesheet" href="~/Content/colors.css">
    <!--Javascript to fix old browsers css shortcomings -->
    @Scripts.Render("~/bundles/modernizr")
    <!-- Favicons
  ================================================== -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144.png">
</head>
<body onload="initialize('mapWrapper')">
    <!-- Primary Page Layout 
  ================================================== -->
    <section class="contactInfos">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p class="pull-right"><span class="contactMail"><i class="icon-mail"></i><a href="#">contact@skintc2014.com</a></span><span class="contactPhone"><i class="icon-mobile"></i>+46 70 555 666 444</span></p>
                </div>
            </div>
        </div>
    </section>
    <!-- globalWrapper -->
    <div id="globalWrapper" class="home container">
        <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="row">
                <div class="span4 clearfix">
                    <a href="~/Home/index" class="brand pull-left">
                        <img src="~/images/main-logo.png" alt="Main-logo" /></a>
                </div>
                <div class="span8 clearfix">
                    <!-- menu -->
                    <nav id="mainMenu" class="clearfix pull-right">
                        <ul class="clearfix">
                            <li><a href="~/Home" id="Home" class="firstLevel active">Home</a>
                            </li>
                            <li><a href="~/Camp" id="Camp" class="firstLevel">Camp</a>
                            </li>
                            <li><a href="#" id="Howto" class="firstLevel">How to</a>
                                <ul>
                                    <li ><a href="~/Travel">Travel</a>  </li>
                                    <li><a href="~/Family" id="Family">Bring Family</a>
                                    <li><a href="~/Embu" id="Embu" class="firstLevel">Join Embu</a></li>
                                </ul>
                            </li>
                              <li><a href="~/FAQ" id="FAQ" class="firstLevel">FAQ</a>
                            <li><a href="~/Blog" id="Blog" class="firstLevel">Blog</a>
                            </li>
                            <li><a href="~/Signup" id="Signup" class="firstLevel">Sign up</a>
                            </li>
                            <li><a href="~/Project" id="Project" class="firstLevel">Project</a>
                            </li>
                            <li><a href="#" class="firstLevel">Language</a>
                                <ul class="langSwitcher">
                                    <li><a href="./home/index/en">English</a></li>
                                    <li><a href="./home/index/sv">Svenska</a></li>
                                    <li><a href="./home/index/fr">French</a></li>
                                    <li><a href="./home/index/de">Deutsch</a></li>
                                    <li><a href="./home/index/fi">Suomalainen</a></li>
                                    <li><a href="./home/index/it">Italiano</a></li>
                                    <li><a href="./home/index/es">Español</a></li>
                                    <li><a href="./home/index/pt">Português</a></li>
                                    <li><a href="./home/index/jp">日本語</a></li>
                                    <li><a href="./home/index/zh">中国</a></li>


                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- menu -->
                </div>
            </div>
        </header>
        <!-- header -->


        @RenderBody()
    </div>
    <!-- end globalWrapper -->

    <!-- footer -->
    <footer class="">
        <section id="mainFooter">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <img src="~/images/main-logoSK2.png" alt="">
                        <ul class="socialList">
                            <li><a href="#" class="cicon cicon-rounded cicon-medium tips" title="Rss"><i class="icon-rss"></i></a></li>
                            <li><a href="#" class="cicon cicon-rounded cicon-medium tips" title="Facebook"><i class="icon-facebook"></i></a></li>
                            <li class="last"><a href="#" class="cicon cicon-rounded cicon-medium tips" title="Twitter"><i class="icon-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="span4 newsWidget">
                        <h3><span>Latest News</span></h3>
                        <div id="twitterFrame">
                        </div>
                    </div>
                    <div class="span4 contactWidget">
                        <h3><span>Contact us</span></h3>
                        <address>
                            <strong>Shorinji Kempo International Training Camp Stockholm 2014</strong>
                            <p>
                                <i class="icon-location"></i>&nbsp;Shoriji Kempo Stockholm S&ouml;dra<br>
                                &Ouml;stg&ouml;tagatan 25, Stockholm Sweden USA
                                    <br>
                                <i class="icon-phone"></i>&nbsp;+46 70 666 555 444
                                    <br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:info@skintc2014.com">info@skintc2014.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>

        </section>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>Made by Shorinji Kempo Södra Stockholm Sweden.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <!-- end footer -->
    <!-- End Document 
        ================================================== -->
    @Scripts.Render("~/bundles/jquery")
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    @Scripts.Render("~/extlibs/superweb/js")
    

    @RenderSection("scripts", required: false)
</body>
</html>
