@model TrainingCamp.Web.Models.WebTextTranslationListViewModel
@{
    ViewBag.Title = "Translation of web text";
}


<h2>List of text items to be translated</h2>

<h3>Click on a item to edit it in the table. </h3>
<table class="table table-striped">
    <thead>
        <tr><td>View</td><td>Name</td><td>Source Lang Text</td><td>Target Lang Text </td><td>Translator</td></tr>
    </thead>
    <tbody>
        @foreach (var trRow in @Model.CombinedTranslationTexts)
        {
            <tr><td>@trRow.View</td><td>@trRow.Name</td><td>@trRow.SourceLangTxt</td><td>
             @if (trRow.TargetLangTxt != "N/A")
             {
                 @Html.ActionLink(trRow.TargetLangTxt, "Edit", new {SourceLangId = trRow.LeftId, TargetLangId = trRow.RightId}, null)
             }
             else
             {
                  @Html.ActionLink("Translate", "Create", new {SourceLangId = trRow.LeftId,targetLang=Model.TargetLang,View=Model.View,Name=trRow.Name}, null)
             }
            </td><td>@trRow.TranslatorTarget
                          
                 </td></tr>           
        }
    </tbody>
</table>
